.posts-container {
  flex: 9;
  margin-top: 2rem;
}

.posts-inner {
  padding: 1rem 1.5rem;
}

.posts {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  margin-top: 2rem;
}
.posts-flex {
  display: flex;
  flex-direction: column;
  background-color: var(--drk-black-2);
}
.show-more-btn {
  padding: 1rem 1.5rem;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 15px;
  cursor: pointer;
  background-color: transparent;
  color: var(--prm-white-1);
  text-transform: uppercase;
  font-size: 16px;
  border: 2px solid transparent;
  border-image: linear-gradient(
    0deg,
    rgba(241, 118, 159, 0.75),
    rgba(5, 160, 113, 0.75),
    var(--prm-blue-1)
  );
  border-image-slice: 1;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  border-radius: 0 15px 15px 0;
  transition: var(--transition);
  border-radius: 0;
}
.show-more-btn:hover {
  border: none;
  border-radius: 0;
  background-image: linear-gradient(
    0deg,
    rgba(241, 118, 159, 0.75),
    rgba(5, 160, 113, 0.75),
    var(--prm-blue-1)
  );
}
